.sidebar_item {    
    display: flex;
   	width: 50px;
   	height: 50px;   	
   	margin-top: 20px;   
}
 
nav ul  {
	position: relative;
	display: flex;
}
 
h1{
	 padding-left: 300px;
	 text-decoration: none;
	 color: white;
}